/OYASAR.Framework.Core/bin
/OYASAR.Framework.Core/obj
/.vs
/OYASAR.Framework.NetCoreIoc/bin
/OYASAR.Framework.NetCoreIoc/obj
/OYASAR.Framework.CastleWindsor/bin
/OYASAR.Framework.CastleWindsor/obj
/OYASAR.Framework.EF/bin
/OYASAR.Framework.EF/obj
/OYASAR.Framework.DefaultAutoMapper/bin
/OYASAR.Framework.DefaultAutoMapper/obj
/AutoMapper.Test/bin
/AutoMapper.Test/obj
/OYASAR.Framework.EPPlus/bin
/OYASAR.Framework.EPPlus/obj
/OYASAR.Framework.Utils/bin
/OYASAR.Framework.Utils/obj
/packages/OYASAR.Framework.Core.1.0.3
/OYASAR.Framework.Security/bin/Debug
/OYASAR.Framework.Security/obj
