<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="DefaultClientProvider" lifestyle="singleton" service="Framework.PubSub.Configuration.IClientConfigurationProvider, Framework.PubSub.Configuration" type="Framework.PubSub.Configuration.DefaultClientConfigurationProvider, Framework.PubSub.Configuration">
    </component>
  </components>
</castle>