<?xml version="1.0"?>
<pubSubConfiguration>
  <mappings>
    <add name="ApiServer1" value="http://localhost:8700"/>
    <!--<add name="ApiServer1" value="http://r013-vm.com"/>
    <add name="ApiServer2" value="http://d043-pc.com"/>
    <add name="ApiServer3" value="http://d054-pc.com"/>-->
  </mappings>
</pubSubConfiguration>

