<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="DefaultServerProvider" lifestyle="singleton" service="Framework.PubSub.Configuration.IServerConfigurationProvider, Framework.PubSub.Configuration" type="Framework.PubSub.Configuration.DefaultServerConfigurationProvider, Framework.PubSub.Configuration">
      <parameters>
        <url>/signalr</url>
      </parameters>
    </component>
  </components>
</castle>